body{
    margin: 0;
    padding: 0px;
}
.about{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 500px;
}
.about-left {
    flex: 1;
    max-width: 500px;
}

.tech-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2rem;
    position: relative;
}

.about h2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.about p{
    color: #a9bcd0;
    padding : 20px 90px 10px 90px;
    line-height: 1.8rem;
}
.about .tech-Skills{
    color: #a9bcd0;
    padding : 20px 0 0 90px;
    line-height: 2rem;
}
.about .tech-Skills h3{
    padding-bottom: 6px;
}
.about.light{
    background:white;
    color:#a9bcd0;
}
.about.light .tech-Skills{
    color: #a9bcd0;
}
