body{
    margin: 0;
    padding: 10px;
}
.about{
    padding-top: 70px;
    height: 900px;
}
.about h2{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.about p{
    color: #a9bcd0;
    padding : 20px 90px 10px 90px;
    line-height: 1.8rem;
}
.about .tech-Skills{
    color: white;
    padding : 20px 0 0 90px;
    line-height: 2rem;
}
.about .tech-Skills h3{
    padding-bottom: 6px;
}
.about .education{
    line-height: 3rem;
    color: white;
    padding : 20px 110px 0 90px;
    line-height: 2rem;
}
.about .education h2{
    padding-bottom: 6px;
}
.education td{
    border: 1px solid black;
    text-align: left;
}
.education th{
    border: 1px solid black;
    text-align: left;
}
.about.dark .education td,th{
    border: 1px solid white;
}
.education table{
    width: 100%;
    border-collapse: collapse;
    padding: 10px 15px;
}
.about.light{
    background:white;
    color: black;
}
.about.light .tech-Skills{
    color: black;
}
.about.light .education{
    color: black;
}
.about.dark .education th,td{
    border: 1px solid white;
}

