.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1); 
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-links li a{
    text-decoration: none;
}
body.dark .navbar h2{
  color: white;
}
body.light .navbar h2{
  color: black;
}
body.dark .nav-links li a{
  color:white;
}
body.light .nav-links li a{
  color:black;
}
body.dark .nav-links li a:hover{
    text-decoration: underline;
    color: rgb(197, 234, 86);
}
body.light .nav-links li a:hover{
    text-decoration: underline;
    color:brown;
}
body.light .navbar{
  background:white;
}

body.dark .navbar{
  background: rgba(18, 18, 18, 0.85);
  color: #eee;
}
.navbar .dark .nav-links li button{
  background: rgba(18, 18, 18, 0.85);
}
.navbar .light .nav-links li button .mode{
  background:rgba(255, 255, 255, 0.8);
}